.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.site {
  box-sizing: border-box;
  border-top: 2px solid black;
  border-left:2px solid black;
  width: 4%;
  height: 4%;
  height: auto;
  background: blue;
}

.closed {
  background: rgb(39, 39, 39);
}

.open {
  background: gray;
}

.full {
  background: blue;
  background: rgb(55, 216, 247);
}

.percolates {
  background: rgb(55, 216, 247);
}