.board {
  /* width: 42vw;
  height: 42vw; */
  /* min-width: 500px;
  min-height: 500px; */
  width: 502px;
  height: 502px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  /* box-sizing: border-box; */
}

.site {
  box-sizing: border-box;
  border: 1px solid black;
  width: 4%;
  height: 4%;
  /* width: 20px;
  height: 20px; */
  background: blue;
}

.closed {
  background: rgb(39, 39, 39);
}

.open {
  background: gray;
}

.full {
  background: blue;
  background: rgb(55, 216, 247);
}

.percolates {
  background: rgb(55, 216, 247);
}