.board {
  /* width: 40vw;
  height: 40vw; */
  /* min-width: 500px;
  min-height: 500px; */
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  box-sizing: border-box;
}

.site {
  box-sizing: border-box;
  border: 1px solid black;
  width: 4%;
  height: 4%;
  height: auto;
  background: blue;
}

.closed {
  background: rgb(39, 39, 39);
}

.open {
  background: gray;
}

.full {
  background: blue;
  background: rgb(55, 216, 247);
}

.percolates {
  background: rgb(55, 216, 247);
}